/* ./styles/globals.css */
@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";




* {
  box-sizing: border-box;
  // cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABHNCSVQICAgIfAhkiAAAAO5JREFUOE+tlI0NgjAUhOkEuoGOgBOIE4gbyAZuoE4iTKAbWCbQEWQDnKDemVdSSBOLpclLf2i/Xnm9qsRTjDEZhtcI1qlMeaLWiFopxbpXlNsDYI7+BZH7NnDGbmgXALZ2rAMBwp2viOUPiP38QmMHGJUmX5AoeYyAuLAVlVkQpW4DlQynlQAVSn7s/U+IXbYh6ITeMRJ0JkgDwlTHlJogpnAWQ8HadirQe9KjTfazM5wxPv1ys2MuZIULuXctQs8sRmavwfy0s4ioommpLBRGSN4zrVUh5i0DfFdhzsH7jLhHEv8xCYzhw6Z9D9sH5B5g2ouPvdUAAAAASUVORK5CYII=')
  // ,auto;
  cursor: none;
}
// @font-face {
//   font-family: ;
//   src: url();
// }

.cursor {
  background-color: #FFFFFF;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  // transform: translate(-9px, -9px);
  z-index: 10;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color:#0E0E0F;
}

a {
  color: inherit;
  text-decoration: none;
}



main {
  .header {
    background-image: url("../assets/portfolio.svg");
    background-repeat: repeat-x;
    background-size: 1120px;
    background-position: center;
    height: 375px;
    // h1 {
    //   margin-right: 20px;
    //   span {
    //     display: block;
    //     height: 24px;
    //     width: 24px;
    //     background-color: white;
    //     border-radius: 50%;
    //     margin: 50px 25px 0 50px;
    //   }
    // }
  }
  .blank-space {
    .dot {
      height: 18px;
      width: 18px;
      margin-left: 350px;
      margin-top: 66px;
      span {
        display: block;
        height: 18px;
        width: 18px;
        background-color: transparent;
        border-radius: 50%;
      }
    }
  }
  .experience,
  .expertise {
    p {
      line-height: 52px;
    }
  }
  .no-hover-image:hover {
    opacity: 0;
  }
  .hover-image {
    opacity: 0;
    &:hover {
      opacity: 1;
    }
  }
  .pr-name.mt-tia-text {
    margin-top: calc(100% - 70px);
  }
}



#box {
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: left;
  animation-timing-function: linear;
}


@keyframes move {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2340px;
  }
}

.tia, .libri-project {
  .other-projects-hover:hover {
    h2,
    p {
      color: #5D5D5D;
    }
    .other-projects-image {
      .street-small-image {
        opacity: 0;
        visibility: hidden;
        // transition: .5s;
      }
      &::after {
        opacity: 1;
      }
    }
  }
  .other-projects-image {
    position: relative;
    &::after {
      content: "";
      background-image: url(../assets/next.svg);
      height: 100%;
      width: 124px;
      position: absolute;
      background-repeat: no-repeat;
      top: 0;
      right: 0;
      opacity: 0;
      background-size: contain;
      background-position: left center;
    }
  }
}



footer {
  border-top: 1px solid #FFFFFF;
  margin-top: 25px;
  .socials {
    margin-top: 64px;
    p {
      margin-right: 60px;
    }
  }
}

// mix-blend-mode: multiply;